@charset "utf-8";

*{
	padding: 0;
	margin:0;
	box-sizing:border-box;
}

body{
	background-color: #fff;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

a{
	text-decoration: none;
}


body > div{
	font-size: 50px;
}

nav > ul{
	list-style-type: disc;
	position: relative;
}

nav > ul > li{
	margin: 5px;
	font-size: 5px;

}

nav > ul > li > a{
	color: #000;
	font-size: 20px;
	padding: 3px 10px;
	margin:20px; 
	position: relative;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/*擬似要素:checkd,disable,required,forcusはフォーム内でよく使用される*/
/*hover,activeはボタンで使用される*/

nav > ul > li > a::before{
	position: absolute;
	top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: #02e8aa;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > a::after{
	position: absolute;
	bottom: 0;
    right: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: #02e8aa;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > a:hover::before, nav > ul > li > a:hover::after{
	width: 100%;
}

section#works{
	color: #02e8aa;
	transition: all .9s ease;
    opacity: 0;
    transform: translateX(-500px);
}

section#works.active{
	opacity: 1;
    transform: translateX(0px);

}

section#contact{
	color: #02e8aa;
	transition: all .9s ease;
    opacity: 0;
    transform: translateX(-500px);
}

section#contact.active{
	opacity: 1;
    transform: translateX(0px);
}

section#contact > div:nth-of-type(2){
	height: 70px;
}

section#about{
	color: #02e8aa;
}

section#about > div{
	display: flex;
	justify-content: space-between;
	font-size: 40px;
	width: 800px;
}


section#about > h2{
	text-align: left;
	font-size: 60px;
	width: 800px;
	margin-left: 150px;
}

section#about > div > div.left{
	margin-left: 150px;
	height: 300px;
	width: 40%;
}

section#about > div > div.right{
	height: 300px;
	width: 60%;
	text-align: left;
}

/*section#about > div > div > p{
	text-align: center;
}
*/
section#works > div > h2{
	text-align: center;
	font-size: 60px;
	color: #02e8aa;
}

section#works > div > div{
	height: 300px;
	font-size: 40px;
}

section#works > div > div > p{
	text-align: center;
}

section#contact > div > h2{
	text-align: center;
	font-size: 60px;
}

form#form > h2{
	text-align: center;
}


form#form > h2 > p{
	text-align: center;
	font-size:30px;
}

div#all > div.top{
	display: flex;
	justify-content: center;
	margin:0 auto;
	padding: 10px;
}

div#all > div.top > label{
	margin: 10px;
	font-size: 30px;
}

div#all > div.top > input{
	margin: 20px;
	padding: 2px;
}

div#all > div.subtop{
	display: flex;
	justify-content: center;
}


div#all > div.top > div > p{
	color: red;
	font-size: 15px;
	margin: -25px 15px 10px 15px;
}

div#all > div.subtop > div{
	width: 100px;
}



div#all > div.under{
	display: flex;
	justify-content: center;
}

div#all > div.under > label{
	margin: 10px;
	padding-top:35px;
	font-size: 30px;
}

div#all > div.under > input{
	margin: 20px;
	padding: 2px;
	height: 100px;
	width:70%;
}

div.top > div > label{
	margin: 15px;
	font-size: 25px;
	font-weight: bold;
}

div.top > div > div > input{
	margin: 15px;
	width: 300px;
}

div.top > div > div > p{
	margin: 15px;
}

div.under > label{
	font-size: 25px;
	font-weight: bold;
}

div.under > textarea{
	width: 900px;
}










