@charset "UTF-8";
/*
 * Import
 */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
/* Slider */
.slick-loading .slick-list {
  background: #fff url("/stylesheets/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/fonts/slick.eot");
  src: url("/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/fonts/slick.woff") format("woff"), url("/fonts/slick.ttf") format("truetype"), url("/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 0.75; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  background-image: url("/images/prev.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 33px;
  left: -25px; }
  @media (max-width: 640px) {
    .slick-prev {
      width: 6px;
      height: 9px; } }
  @media (max-width: 640px) {
    .slick-prev {
      left: -10px; } }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
    @media (max-width: 640px) {
      [dir="rtl"] .slick-prev {
        right: -10px; } }
  .slick-prev:before {
    content: " "; }
    [dir="rtl"] .slick-prev:before {
      content: " "; }

.slick-next {
  background-image: url("/images/next.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 33px;
  right: -25px; }
  @media (max-width: 640px) {
    .slick-next {
      width: 6px;
      height: 9px; } }
  @media (max-width: 640px) {
    .slick-next {
      right: -10px; } }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
    @media (max-width: 640px) {
      [dir="rtl"] .slick-next {
        left: -10px; } }
  .slick-next:before {
    content: " "; }
    [dir="rtl"] .slick-next:before {
      content: " "; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 20px 0 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li a {
      display: block;
      background: #003CAA;
      height: 14px;
      width: 14px;
      border-radius: 7px;
      opacity: 0.25; }
      .slick-dots li a:hover, .slick-dots li a:focus {
        opacity: 0.75; }
    .slick-dots li.slick-active a {
      background: #003CAA;
      opacity: 1; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 0.75; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #003CAA;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #003CAA;
      opacity: 1; }

/*
 * Variables
 */
/* Color */
/* Typography */
/* Media queries breakpoints */
/*
 * Mixin
 */
/* Media Query */
/* Link */
/*
 * Common
 */
body {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  background-color: #F3F5F9;
  color: #003CAA; }

.container-fluid, .banner {
  margin: 0 auto; }
.container-fluid > .container {
  position: relative;
  z-index: 1;
}

.container, nav, #design h2, #user-voice h2, #contact h2, #contact .form > .row, #faq > .row, #faq > h2 {
  margin: 0 auto;
  padding: 0 80px; }
  @media (max-width: 980px) {
    .container, nav, #design h2, #user-voice h2, #contact h2, #contact .form > .row, #faq > .row, #faq > h2{
      padding: 0 40px; } }
  @media (max-width: 640px) {
    .container, nav, #design h2, #user-voice h2, #contact h2, #contact .form > .row, #faq > .row, #faq > h2 {
      padding: 0 20px; } }
  @media (min-width: 1200px) {
    .container, nav, #design h2, #user-voice h2, #contact h2, #contact .form > .row, #faq > .row, #faq > h2{
      max-width: 1040px; } }

h1 {
  font-size: 68px; }
  @media (max-width: 640px) {
    h1 {
      font-size: 37.4px; } }

h2 {
  font-size: 67px; }
  @media (max-width: 640px) {
    h2 {
      font-size: 37.4px; } }

h3 {
  font-size: 45px; }
  @media (max-width: 980px) {
    h3 {
      font-size: 40.8px; } }
  @media (max-width: 640px) {
    h3 {
      font-size: 30.6px; } }

h4 {
  font-size: 19x; }
  @media (max-width: 980px) {
    h4 {
      font-size: 18.36px; } }
  @media (max-width: 640px) {
    h4 {
      font-size: 17px; } }
p{
  line-height: 1.8;
}
img {
  max-width: 100%;
  height: auto; }

/*
 * Helper
 */
ul {
  list-style: none;
  padding: 0; }
.btn-primary, .navbar-nav li a.contact, .btn.contact {
  background-color: #00D141;
  color: #FFFFFF;
  transition: 0.3s ease all;
  text-decoration: none; }
  .btn-primary:hover, .navbar-nav li a.contact:hover, .btn.contact:hover {
    background-color: #0CAB3D;
    text-decoration: none; }

/*
 * Nav
 */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 980px) {
    nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.navbar-brand {
  margin-right: auto; }
  .navbar-brand img {
    height: 45px; }
    @media (max-width: 640px) {
      .navbar-brand img {
        height: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0; }
  @media (max-width: 980px) {
    .navbar-nav {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  .navbar-nav li {
    font-size: 14.45px; }
    .navbar-nav li a {
      padding: 0 25px;
      color: #FFFFFF;
      text-decoration: none; }
      .navbar-nav li a:hover {
        text-decoration: underline; }
      .navbar-nav li a.contact {
        border-radius: 22px;
        padding: 15px 60px; }

@media (max-width: 640px) {
  .navbar-collapse {
    display: none; } }
/*
 * Button
 */
.btn {
  display: inline-block; }
  .btn.contact {
    border-radius: 40px;
    padding: 27px 50px;
    font-size: 1.1em; }
    @media (max-width: 640px) {
      .btn.contact {
        padding: 20px 30px;
        font-size: 14.45px; } }

.title {
  font-family: 'Raleway', sans-serif; }

/*
 * Header
 */
.pc-hidden{
  display: none;
  }
  @media (max-width: 640px) {
    .pc-hidden {
      display: block; } }
.header {
  background-image: url("/images/bg-header.png");
  background-color: #0030A0;
  background-position-x: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding: 60px 0 20px;
  margin-bottom: 200px;
  min-height: 720px; }
.header h2 {
  white-space: nowrap;
}

#lp01 .header,
#lp05 .header {
  min-height: 850px;
}
#lp02 .header {
  min-height: 880px;
}
#lp03 .header {
  min-height: 780px;
}
#lp04 .header {
  min-height: 860px;
}
.header h1 {
  margin: 0 auto 0 0;
  line-height: 0
}
  @media (max-width: 640px) {
    .header {
      background: none;
      background-color: #0030A0;
      padding-top: 0;
      padding-bottom: 45px;
      margin-bottom: 0;
      height: auto!important; }
  }
  @media (max-width: 980px) {
    .header h2 {
      white-space: normal;
    }
  }
  .header .header-image {
    background-image: url("/images/bg-header-image.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 820px;
    position: absolute;
    top: -30px;
    left: 50%; }
  .header .header-image.homework {
    background-image: url("/images/new_fv.png");
    background-repeat: no-repeat;
    width: 48%;
    height: 800px; }
    @media (max-width: 640px) {
      .header .header-image {
        display: none; } }
    @media (max-width: 980px) {
      .header .header-image {
        width: 25%;
        left: 75%; } }

  #lp06 .header .header-image {
    background-image: url("/lp06/images/bg-header-image.png");
    top: 50px;
  }

  #lp06 .header .header-image.homework {
    background-image: url("/lp06/images/new_fv.png");
  }


  .header .relative {
    position: relative; }
  .header .jumbotron {
    width: 50%; }
    @media (max-width: 980px) {
      .header .jumbotron {
        width: 75%; } }
    @media (max-width: 640px) {
      .header .jumbotron {
        width: 100%;
        margin: 0 auto; } }
    .header .jumbotron p {
      line-height: 2em; }
      @media (max-width: 640px) {
        .header .jumbotron p {
          font-size: 14.45px; } }
    .header .jumbotron a.btn.contact {
      margin-top: 50px; }
      @media (max-width: 640px) {
        .header .jumbotron a.btn.contact {
          margin-top: 15px; } }
    .header .jumbotron small {
      display: block;
      text-align: right;
      font-size: 70%;
    }

/*
 * Main
 */
.main h2 {
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 118px;
  line-height: 1em;
  white-space: nowrap; }
  @media (max-width: 640px) {
    h2 {
      font-size: 40px; } }
  h2 small {
    display: inline;
    font-size: 26px;
    line-height: 1em; }
    @media (max-width: 640px) {
      h2 small {
        font-size: 9px; } }

#features {
  margin-top: -80px; }
  @media (max-width: 640px) {
    #features {
      margin-top: 20px; } }
  #features h2 {
    margin-bottom: 30px;
    overflow: hidden; }
    @media (max-width: 640px) {
      #features h2 {
        font-size: 32px; } }
    #features h2 small {
      margin-left: 20px; }
      @media (max-width: 640px) {
        #features h2 small {
          margin-left: 10px; } }

#design h2 {
  overflow: hidden;
  height: 132px;
  font-size: 132px;
  margin-bottom: -21px;
  overflow: hidden;
  height: 106px;
  font-size: 101px;
  margin-bottom: -21px;
  text-align: center;
  position: relative;
  z-index: 0;
  }
  @media (max-width: 640px) {
    #design h2 {
      font-size: 42px;
      text-align: left;
      height: 91px;
    } }
  #design h2 small {
    font-size: 20px; }
    @media (max-width: 640px) {
      #design h2 small {
        display: block;
        position: relative;
        bottom: 0;
        right: 0;
        font-size: 16px;
        line-height: 1.4; } }
#design .row {
  background-image: url("/images/bg-section.png");
  background-color: #0030A0;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 30px;
  color: #FFFFFF;
  text-align: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

#user-voice {}
  #user-voice h2 {
    position: relative;
    font-size: 71px;
    padding-top: 60px; }
    @media (max-width: 640px) {
      #user-voice h2 {
        font-size: 42px; } }
    #user-voice h2 small {
      position: absolute;
      bottom: 7px;
      right: 80px;
      display: inline-block;
      font-size: 34px;
      line-height: 34px;
      margin-left: auto; }
      @media (max-width: 640px) {
        #user-voice h2 small {
          display: block;
          position: relative;
          bottom: 0;
          right: 0;
          font-size: 20px;
          line-height: 1.4; } }
  #user-voice .carousel {
    margin-top: -10px; }
    @media (max-width: 640px) {
      #user-voice .carousel {
        margin-top: 10px; } }

#contact h2 {
  font-size: 110px;
  overflow: hidden; }
  @media (max-width: 640px) {
    #contact h2 {
      font-size: 33px; }
      #contact h2 small {
        font-size: 7px; } }
#contact h3,
#contact h4 {
  margin-top: 0; }
#contact .head {
  background-image: url("/images/bg-contact.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-top: -15px;
  height: 523px; }
  @media (max-width: 640px) {
    #contact .head {
      background-size: contain;
      background-color: #0840A7;
      margin-top: 10px;
      height: 145px; } }
#contact .form {
  background-image: url("/images/bg-section.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0840A7; }
#contact .form > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFFFFF; }
  @media (max-width: 640px) {
    #contact .form > .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 640px) {
    #contact .form > .row {
      padding-top: 20px;
      padding-bottom: 20px; } }
#contact .message {
  width: 50%; }
  @media (max-width: 640px) {
    #contact .message {
      width: 100%;
      margin-bottom: 40px; } }
  #contact .message p {
    line-height: 1.8em; }
    @media (max-width: 640px) {
      #contact .message p {
        font-size: 14.45px; } }
  #contact .message .sign {
    margin-top: 50px;
    text-align: right; }
    @media (max-width: 640px) {
      #contact .message .sign {
        margin-top: 15px; } }
#contact .form-input {
  width: 45%; }
  @media (max-width: 640px) {
    #contact .form-input {
      width: 100%; } }
  #contact .form-input .badge {
    display: inline-block;
    background-color: #FF0093;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14.45px; }
  #contact .form-input .note {
    font-size: 11.9px;
    text-align: center;
    font-weight: normal; }
    #contact .form-input .note a {
      color: #00D0EE;
      text-decoration: underline;
     }
  #contact .form-input .form-group {
    margin-bottom: 10px; }
  #contact .form-input .form-control {
    background-color: rgba(0, 42, 119, 0.75);
    border: 0;
    width: 100%;
    height: 20px;
    margin-right: 5px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: .25rem;
    color: #FFFFFF;
    box-sizing: border-box; }
    @media (max-width: 640px) {
      #contact .form-input .form-control {
        padding: 30px; } }
  #contact .form-input .btn-submit {
    display: inline-block;
    border: 0;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer; }
    @media (max-width: 640px) {
      #contact .form-input .btn-submit {
        width: 100%;
        padding: 20px; } }

#faq {
  background-image: url("/images/bg-section-inverse.png");
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 30px; }
  #faq h2 small {
    margin-left: 20px; }
  #faq .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 640px) {
      #faq .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  #faq .item {
    width: 45%;
    margin-bottom: 30px; }
    @media (max-width: 640px) {
      #faq .item {
        width: 100%; } }
    #faq .item .answer {
      position: relative;
      padding: 15px 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 640px) {
        #faq .item .answer {
          font-size: 14px; } }
      #faq .item .answer::before, #faq .item .answer::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      #faq .item .answer::before {
        top: 0;
        left: 0;
        border-top: 2px solid #0045C0;
        border-left: 2px solid #0045C0; }
      #faq .item .answer::after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #0045C0;
        border-right: 2px solid #0045C0; }
      @media (max-width: 640px) {
        #faq .item .answer {
          margin-left: 0;
          margin-right: 0; } }

.movie {
  margin-bottom: 70px;
  text-align: center; }
  .movie iframe {
    width: 760px;
    height: 430px;
    margin-top: 20px;
    border-radius: 13px; }
    @media (max-width: 980px) {
      .movie iframe {
        width: 600px;
        height: 380px; } }
    @media (max-width: 640px) {
      .movie iframe {
        width: 300px;
        height: 190px; } }

.badge {
  display: inline-block;
  background-color: #0030A0;
  padding: 5px 17px;
  border-radius: 17px;
  color: #FFFFFF;
  font-size: 17px; }
  @media (max-width: 640px) {
    .badge {
      font-size: 11.9px; } }

.point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px; }
  @media (max-width: 640px) {
    .point {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .point#point2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 640px) {
      .point#point2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .point#point2 > div {
      margin-right: auto;
      margin-left: 0; }
  .point > div {
    margin-top: 50px;
    width: 45%;
    margin-left: auto; }
    @media (max-width: 640px) {
      .point > div {
        width: 100%; } }
  .point h3 {
    margin-top: 40px;
    margin-bottom: 20px; }
    @media (max-width: 640px) {
      .point h3 {
        margin-top: 20px;
        margin-bottom: 10px; } }

.slider {
  margin-top: 50px;
  padding-bottom: 30px;
  font-size: 14.45px; }

.carousel .item {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  height: 366px; }
  @media (max-width: 640px) {
    .carousel .item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 410px; } }
  .carousel .item img {
    margin-left: 10px; }
    @media (max-width: 640px) {
      .carousel .item img {
        margin-left: 0;
        margin-right: 10px; } }
    @media (max-width: 980px) {
      .carousel .item img {
        max-width: 50%; } }
    @media (max-width: 640px) {
      .carousel .item img {
        max-width: 100%; } }
  .carousel .item .voice {
    background-image: url("/images/bg-carousel.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    max-width: 318px;
    margin-right: 10px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px; }
    @media (max-width: 640px) {
      .carousel .item .voice {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;} }
    .carousel .item .voice .parenthesis {
      position: relative;
      padding: 15px 30px;
      font-size: 15px;
      line-height: 23px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 640px) {
        .carousel .item .voice .parenthesis {
          padding: 10px 13px;
          font-size: 12px;
          line-height: 1.6;} }
      .carousel .item .voice .parenthesis::before, .carousel .item .voice .parenthesis::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      .carousel .item .voice .parenthesis::before {
        top: 0;
        left: 0;
        border-top: 2px solid #FFFFFF;
        border-left: 2px solid #FFFFFF; }
      .carousel .item .voice .parenthesis::after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF; }
    .carousel .item .voice .user {
      margin-top: 30px;
      text-align: right;
      font-size: 14.45px; }
      @media (max-width: 640px) {
        .carousel .item .voice .user {
          margin-top: 10px;
          text-align: right;
          font-size: 13px;} }

.features-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  text-align: center; }
  .features-etc > div > p{font-size: 14px;}
  .features-etc > div {
    padding: 0 20px;
    flex: 1;}
  @media (max-width: 640px) {
    .features-etc {
      display: none; } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  margin: 50px auto 0;
  padding-bottom: 70px; }
  .banner > div{
    margin: 10px;
    width: 30%;
  }
  @media (max-width: 640px) {
    .banner {
      margin: 0;
      padding-bottom: 50px; } }
  .banner img {
    max-width: 100%;
    height: auto;
    display: block;
    }

/*
 * Footer
 */
.footer {
  background-color: #001A51;
  font-weight: normal;
  color: #FFFFFF; }
  @media (max-width: 640px) {
    .footer {
      text-align: center; } }
  .footer a {
    color: #FFFFFF;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }
  .footer .container, .footer nav, .footer #design h2, #design .footer h2, .footer #user-voice h2, #user-voice .footer h2, .footer #contact h2, #contact .footer h2, .footer #contact .form > .row, #contact .footer .form > .row {
    padding-top: 65px;
    padding-bottom: 100px; }
  .footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 640px) {
      .footer .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer .logo {
    margin-bottom: 30px; }
    .footer .logo img {
      height: 35px; }
  .footer .links {
    padding-right: 150px; }
    @media (max-width: 980px) {
      .footer .links {
        padding-right: 70px; } }
    @media (max-width: 640px) {
      .footer .links {
        padding-right: 0; } }
    .footer .links ul {
      font-size: 14.45px; }
    .footer .links li {
      margin-bottom: 15px; }
  .footer .company {
    margin-left: auto;
    font-size: 14.45px; }
    @media (max-width: 640px) {
      .footer .company {
        border-top: 1px solid #FFFFFF;
        margin-top: 20px;
        margin-left: inherit;
        padding-top: 10px; } }
    .footer .company li {
      margin-bottom: 10px; }
  .footer .copyright {
    margin-top: 5px;
    font-size: 11.9px;
    color: #BEBEBE; }

/* #rss-feeds */
#rss-feeds h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 110px;
  overflow: hidden;
}
@media (max-width: 640px) {
  #rss-feeds h2 { font-size: 55px; }
}
#rss-feeds h2 small {
  margin-left: 30px;
}
#rss-feeds ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

#rss-feeds li {
  flex-basis: 320px;
  margin-bottom: 20px;
}

#rss-feeds li a {
  display: block;
  padding-top: 180px;
  background-size: cover;
  color: #003caa;
  border-radius: 6px;
  font-size: 90%;
}
#rss-feeds li a span {
  display: block;
  background-color: white;
  min-height: 5em;
  padding: 5px 10px;
  border-radius: 0 0 6px 6px;
  word-break: break-all;
}

.hvr-grow:active, .hvr-grow:focus, .hvr-grow:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}





.header .nav-container {
  width: 100%;
  max-width: 100%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}


.header .nav-container.scrolled {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  /* box-sizing: border-box; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}
